


<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Luan_Club Welcome to you</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/298572574_151621004141630_1176016392050560701_n.jpg?stp=dst-jpg_s600x600&_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=H0ou57AHFDUAX_B6nkb&_nc_ht=scontent.fhan14-2.fna&oh=00_AT8c8oo02gMVkSYmtEaTD0VwjdEcGDZbSlfYFNfilojRAg&oe=62FAEC30"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019-2020</h4>
                        <h4 class="subheading">Quang Vinh</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">My name is Quang Vinh. I’m 19 years old and I’m single. I have just graduated from university in August with the major in accounting. I got 3 month experience as an internship at A company. I like reading books and cooking. I’m a careful and hard-working person. I’m eager to learn new things and willing to work in team. I easily adapt to with new working environment and take initiative in work.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/296843867_150301557606908_8828970433569395279_n.jpg?stp=dst-jpg_p600x600&_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7NaLK9vWt9oAX8Thgeh&_nc_ht=scontent.fhan14-2.fna&oh=00_AT-VtJlBZVRgKE5tQRTHOurcYJhNiiz68zb2loNGBLvJOg&oe=62FB2765"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2020</h4>
                        <h4 class="subheading">Tran Lank</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">My name’s Lank.  I have 3 years experience in Marketing field and I’m a group leader of Luan_Club company. I’m friendly and kind to help other people. I like dealing with difficult problems and challenged issues. I’m rather serious I work and can work under high pressure.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/298069077_151620344141696_2664592005937407738_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=l3aHoxA637gAX-KCRek&_nc_ht=scontent.fhan4-3.fna&oh=00_AT-fL0KN2q-WAT7X3UCim7u17r1YjA7jmwRCEl1e1tcyeg&oe=62FAB652"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2021</h4>
                        <h4 class="subheading">Quoc Hung</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">I’m Quoc Hung. I’m 19 years old and I’m single. I was born and grew up in Ha Noi. I got 2 years experience in administration and human resource management. I’m active. I like work related to human beings. I’m rather serious and sensitive, I can quickly catch up psychology of other people. I often read newpapers and listen to music in my free time.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/298840882_151620184141712_9203491395995847809_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=03Tm8AnDQ3UAX-DSgjT&_nc_ht=scontent.fhan14-2.fna&oh=00_AT_Kts2xK7LsbWJxc0IePpS6OOg_D-yo3WjrE75UUiR6cA&oe=62FB4BD1"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2022</h4>
                        <h4 class="subheading">Khac Truong </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">My name’s Khac Truong.  I have 2 years experience in Marketing field and I’m a group leader of Luan_Club company. I’m friendly and kind to help other people. I like dealing with difficult problems and challenged issues. I’m rather serious I work and can work under high pressure.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Our Company <br>
                        Welcome <br>
                        To You .
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="mt-5">
<app-about2></app-about2>
</div>
<div class="mt-5">
<app-footer></app-footer>
</div>