<div class="container">
    <div class="h1 text-uppercase text-center">
        Our Company
    </div>
    <div class="content container mt-5 card p-3">
        <div class="row align-items-center">

            <div class="w-25 col-lg-6 col-md-6">
                <img src="https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/296637508_5464986320216327_3162797939614609198_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0debeb&_nc_ohc=IODulLO8n7AAX_SDDZR&_nc_ht=scontent.fhan4-3.fna&oh=00_AT9gC3O0gGjYaQuKLXyAvYubeshIqZb0F40YkvhaX0Qhgw&oe=62F8E584" class="card-img" alt="">
            </div>  

            <div class="col-lg-6 col-md-6 text-center">
                <p class="text">Our Services</p>
                <p>
                    Luan_Club with the motto "Will always be your companion with your fashion style". Gentle will be one of the most prestigious and quality fashion shops in Ha Noi. We always bring customers the latest and quality products, the most reasonable price at Luan_Club store.
                </p>
            </div>

        </div>
    </div>
</div>